html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* scrollbar-width: none; */
  font-family: "Open Sans", sans-serif;
  background-color: #fcf7f5;
  scroll-behavior: smooth;
  height: auto;
  position: relative;
  min-height: 100vh;
}

h1 span {
  font-weight: 200;
  font-size: 36px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans";
}

button {
  cursor: pointer;
}

hr {
  border-top: 1px solid rgba(158, 158, 158, 0.4);
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 25px 0;
  line-height: 1.1;
}

@media only screen and (min-width: 720px) {
  .wrapper {
    width: 100%;
    height: auto;
  }
  .banner {
    background-image: url(../images/jm1.jpg);
    width: 100%;
    height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
  }
  .main-content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-content #menu {
    overflow: hidden;
  }
  .main-content .menu {
    background-color: transparent;
    position: absolute;
    text-align: right;
    width: 100%;
    z-index: 3;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .main-content .menu a {
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f2f2f2;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  .main-content .sticky {
    background-color: #eeeeee;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    text-align: right;
    z-index: 3;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .main-content .sticky a {
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #313e4fb9;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  .main-content .menu a:hover,
  .main-content .sticky a:hover {
    opacity: 1;
    cursor: pointer;
  }
  .main-content .menu a::before,
  .main-content .sticky a::before {
    -webkit-transition: 300ms;
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #4fc3f7;
  }
  .main-content .nav-link::before {
    width: 0%;
    bottom: 10px;
  }
  .main-content .nav-link:hover::before {
    width: 100%;
  }
  .main-content .nav-link.active {
    color: #4fc3f7 !important;
    opacity: 1;
  }
  .logo {
    color: #919294;
    font-size: 30px;
    font-weight: 400;
    font-family: inherit;
    line-height: 50px;
    display: block;
    overflow: hidden;
    float: left;
    padding-left: 10px;
    cursor: pointer;
    position: fixed;
    top: 0;
    z-index: 4;
  }
  .mobile-men, .close-sidebar {
    visibility: collapse;
  }
}

@media only screen and (max-width: 719px) {
  h1 span {
    font-weight: 200;
    font-size: 25px;
  }
  .banner {
    background-image: url(../images/jm1.jpg);
    width: 100%;
    height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }
  .mobile-menu {
    margin-top: 4px;
    font-size: 25px;
    color: #4fc3f7;
    position: absolute;
    visibility: visible;
    padding: 20px;
  }
  .mobile-menu:hover, .close-sidebar:hover {
    color: #9c9c9c;
    cursor: pointer;
  }
  .close-sidebar {
    font-size: 20px;
    position: absolute;
    right: 10;
    z-index: inherit;
    color: #cacaca;
    top: 10px;
    visibility: visible;
  }
  .wrapper .main-content {
    width: inherit;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 3;
    visibility: visible;
  }
  .wrapper .main-content .logo {
    color: #919294;
    font-size: 25px;
    font-weight: 400;
    font-family: inherit;
    line-height: 50px;
    padding-left: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .wrapper .main-content .menu {
    width: 0;
    background-color: #313e4f;
    height: 100%;
    position: absolute;
    padding-top: 75px;
    left: 0;
    overflow-x: hidden;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  .wrapper .main-content .menu.open {
    width: 200px !important;
  }
  .wrapper .main-content .menu a.nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    color: white;
    font-size: 20px;
    padding-left: 15px;
  }
  .wrapper .main-content .menu a.nav-link:hover {
    background-color: #4fc3f7;
    cursor: pointer;
  }
  .wrapper .main-content .menu .nav-link.active {
    background-color: #4fc3f7 !important;
    opacity: 1;
  }
  .body-content .info-content #about .about .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body-content .info-content #about .about .about-content .profile {
    height: 100%;
    display: block;
    margin: auto;
  }
  .body-content .info-content #about .about .about-content .bio {
    width: inherit;
  }
  .body-content .info-content #about .about .about-content .bio .profile-title {
    font-size: 25px;
  }
  .body-content .info-content #about .about .about-content .bio .profile-details {
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
  }
  .body-content .info-content #about .about .about-content .bio .profile-details .title {
    display: block;
    float: left;
    color: #515969;
    font-size: 12px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
  }
  .body-content .info-content #about .about .about-content .bio .profile-details .cont {
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #9da0a7;
    margin: 0;
  }
  .body-content .info-content #about .about .about-content .bio .profile-details .clearfix {
    *zoom: 1;
  }
  .body-content .info-content #about .about .about-content .bio .profile-details .prof-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .body-content .info-content #skill .skill .skill-content .skill-head {
    height: inherit;
    background-color: #4fc3f7;
    padding: 15px 15px 1px 15px;
  }
  .body-content .info-content #skill .skill .skill-content .skill-details .grid-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 10px;
  }
  .body-content .info-content #experience .experience .exp-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .body-content .info-content #experience .experience .exp-box .exp-box-item {
    width: inherit;
  }
  .body-content .info-content #contact .contact .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body-content .info-content #contact .contact .contact-box .contact-info {
    width: inherit;
  }
  .body-content .info-content #contact .contact .contact-box .contact-info .contact-details {
    margin: 0;
    padding: 0;
  }
  .body-content .info-content #contact .contact .contact-box .contact-info .contact-details .title {
    display: block;
    width: 120px;
    float: left;
    color: #515969;
    font-size: 12px;
    font-weight: 750;
    line-height: 20px;
    text-transform: uppercase;
  }
  .body-content .info-content #contact .contact .contact-box .contact-info .contact-details .cont {
    display: block;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #515969;
    word-wrap: anywhere;
  }
  .body-content .info-content #contact .contact .contact-box .contact-info .contact-details .cont-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .body-content .info-content #contact .contact .contact-box .contact-map {
    width: inherit;
    height: 250px;
  }
}

.xl {
  font-size: 34px;
}

.lg {
  font-size: 26px;
}

.m {
  font-size: 20px;
}

.sm {
  font-size: 15px;
}

.xsm {
  font-size: 12px;
}

.text-success {
  color: #4fc3f7;
}

.text-default {
  color: #3d4451;
}

.bg-success {
  background-color: #4fc3f7;
}

.body-content {
  z-index: 1;
  position: relative;
  padding-top: 20%;
  margin-bottom: 40px;
  border-width: 5px;
  margin: 0 10%;
}

.body-content .back-to-top {
  position: fixed;
  display: none;
  z-index: 4;
  width: 55px;
  height: 55px;
  background-color: #0e7ad3;
  border-radius: 50%;
  color: white;
  text-align: center;
  bottom: 0;
  right: 0;
  margin: 0 31px 17px 0;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
  cursor: pointer;
}

.body-content .profile-title {
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 5px;
  font-weight: 700;
}

.body-content .text-title {
  color: #3d4451;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  word-wrap: anywhere;
}

.body-content .text-subtitle {
  color: #3d4451;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-align: left;
  word-wrap: anywhere;
}

.body-content .text-desc {
  color: #3d4451;
  font-weight: 400;
  text-align: center;
}

.body-content .job-desc {
  color: #3d4451;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.body-content .section-about .profile-position {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
}

.body-content .info-content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.body-content #about {
  margin-top: 30px;
}

.body-content #about .about {
  background-color: #eeeeee;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.body-content #about .about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fbf6f2;
}

.body-content #about .about .about-content .profile {
  width: 50%;
  height: 372px;
  padding: 57px 50px 0px 50px;
}

.body-content #about .about .about-content .profile img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.body-content #about .about .about-content .bio {
  width: 100%;
  padding: 57px 50px 0px 50px;
  color: #515969;
}

.body-content #about .about .about-content .bio .profile-details {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.body-content #about .about .about-content .bio .profile-details .title {
  display: block;
  float: left;
  color: #515969;
  width: 120px;
  font-size: 12px;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
}

.body-content #about .about .about-content .bio .profile-details .cont {
  display: block;
  margin-left: 125px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #9da0a7;
  word-wrap: anywhere;
}

.body-content #about .about .about-content .bio .profile-details .clearfix {
  *zoom: 1;
}

.body-content #about .about .about-content .bio .profile-details .prof-line {
  margin-bottom: 10px;
}

.body-content #about .about .social-media {
  width: 100%;
  height: 45px;
  background-color: #4fc3f7;
  padding: 15px 0;
}

.body-content #about .about .social-media .sm-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  color: white;
}

.body-content #about .about .social-media .sm-icons li {
  display: inline-block;
  margin: 5px 15px;
}

.body-content #about .about .social-media .sm-icons li a {
  color: #fff;
  font-size: 35px;
  line-height: 45px;
  display: block;
  cursor: pointer;
}

.body-content #about .about .social-media .sm-icons li a:hover {
  color: #227ba5;
}

.body-content #about .about .social-media ul {
  margin: 0 0 25px 20px;
}

.body-content #about .resume {
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-content #skill .skill {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.body-content #skill .skill .skill-content .skill-head {
  height: 40px;
  background-color: #4fc3f7;
  padding: 15px 15px 0px 15px;
}

.body-content #skill .skill .skill-content .skill-head h3 {
  color: white;
}

.body-content #skill .skill .skill-content .skill-details {
  height: auto;
  padding: 10px;
}

.body-content #experience .experience .exp-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.body-content #experience .experience .exp-box-item {
  width: 49%;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: #eeeeee;
  height: auto;
  margin: 10px 0;
}

.body-content #experience .experience .exp-head {
  background-color: #4fc3f7;
  height: 6px;
}

.body-content #experience .experience .exp-details {
  padding: 10px 15px;
}

.body-content #contact .contact .contact-box {
  background-color: #eeeeee;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-content #contact .contact .contact-box .contact-info {
  padding: 40px;
  width: 55%;
}

.body-content #contact .contact .contact-box .contact-info .contact-details {
  margin: 0;
  padding: 0;
}

.body-content #contact .contact .contact-box .contact-info .contact-details .title {
  display: block;
  width: 120px;
  float: left;
  color: #515969;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.body-content #contact .contact .contact-box .contact-info .contact-details .cont {
  display: block;
  margin-left: 125px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #515969;
}

.body-content #contact .contact .contact-box .contact-info .contact-details .cont-line {
  margin-bottom: 10px;
}

.body-content #contact .contact .contact-box .contact-info .sm-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  color: #4fc3f7;
}

.body-content #contact .contact .contact-box .contact-info .sm-icons li {
  display: inline-block;
  margin: 5px 15px;
}

.body-content #contact .contact .contact-box .contact-info .sm-icons li a {
  color: #4fc3f7;
  font-size: 35px;
  line-height: 45px;
  display: block;
  cursor: pointer;
}

.body-content #contact .contact .contact-box .contact-info .sm-icons li a:hover {
  color: #227ba5;
}

.body-content #contact .contact .contact-box .contact-map {
  width: 45%;
}

.body-content #contact .contact .contact-box .contact-map .map {
  height: 100%;
  width: 100%;
}

.grid-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  font-size: 15px;
  padding: 20px;
  color: #515969;
  line-height: 1.2;
  font-weight: 500;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
  display: block;
  height: 10px;
  background-color: #4fc3f7;
  border-radius: 3px;
  -webkit-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
}

.footer {
  clear: both;
  position: relative;
  height: 80px;
  background-color: #4fc3f7;
}

.footer a:nth-child(1) {
  height: auto;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.btn-default {
  border: none;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: #f1f1f1;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  margin-top: 14px;
  font-size: 16px;
  color: #313e4f;
  text-align: center;
  font-weight: 700;
}

.btn-default:hover {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.text-style {
  color: #313e4f;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */