@font-face {
    font: {
        family: Mulish;
        weight: 100;
        style: normal;
    }

    src: url('../fonts/Mulish-ExtraLight.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: 100;
        style: italic;
    }

    src: url('../fonts/Mulish-ExtraLightItalic.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: 300;
        style: normal;
    }

    src: url('../fonts/Mulish-Light.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: 300;
        style: italic;
    }

    src: url('../fonts/Mulish-LightItalic.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: normal;
        style: normal;
    }

    src: url('../fonts/Mulish-Regular.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: normal;
        style: italic;
    }

    src: url('../fonts/Mulish-Italic.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: 500;
        style: normal;
    }

    src: url('../fonts/Mulish-Medium.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: 500;
        style: italic;
    }

    src: url('../fonts/Mulish-MediumItalic.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: 700;
        style: normal;
    }

    src: url('../fonts/Mulish-Bold.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: 700;
        style: italic;
    }

    src: url('../fonts/Mulish-BoldItalic.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: 700;
        style: normal;
    }

    src: url('../fonts/Mulish-ExtraBold.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: 700;
        style: italic;
    }

    src: url('../fonts/Mulish-ExtraBoldItalic.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: 900;
        style: normal;
    }

    src: url('../fonts/Mulish-Black.ttf');
}

@font-face {
    font: {
        family: Mulish;
        weight: 900;
        style: italic;
    }

    src: url('../fonts/Mulish-BlackItalic.ttf');
}

// Roboto Condensed

@font-face {
    font: {
        family: Roboto Condensed;
        weight: 300;
        style: normal;
    }

    src: url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
    font: {
        family: Roboto Condensed;
        weight: 300;
        style: italic;
    }

    src: url('../fonts/RobotoCondensed-LightItalic.ttf');
}

@font-face {
    font: {
        family: Roboto Condensed;
        weight: 400;
        style: normal;
    }

    src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font: {
        family: Roboto Condensed;
        weight: 400;
        style: italic;
    }

    src: url('../fonts/RobotoCondensed-Italic.ttf');
}

@font-face {
    font: {
        family: Roboto Condensed;
        weight: 700;
        style: normal;
    }

    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font: {
        family: Roboto Condensed;
        weight: 700;
        style: italic;
    }

    src: url('../fonts/RobotoCondensed-BoldItalic.ttf');
}