@use './base/fonts';

:root {
  --main-font: 'Mulish', sans-serif;
}

:root {
  --default-color-light: #f3f3f3;
  --default-color-dark: #1d2836;
  --background-color: #ffffff;
  --heading-color: #050d18;
  --accent-color: #149ddd;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
  --accordion-header-active: #0c90dc;
  --accordion-heade-base: #0c5986de;
  --accordion-content: #149ddd;
}

.light-background {
  --background-color: #f4fafd;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #1d2836;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #263547;
  --accent-color: #149ddd;
  --contrast-color: #ffffff;
}

:root {
  --nav-color: #a8a9b4; 
  --nav-hover-color: #ffffff; 
  --nav-mobile-background-color: #040b14;
}

.primary-button {
  background-color: var(--default-color-dark);
  color: var(--default-color-light);

  &:hover {
    background-color: #445975;
    color: var(--default-color-light);
  }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--default-color-dark); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--heading-color); 
}

/* Global Styles */
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  color: var(--default-color-dark);
  background-color: var(--background-color);
  font-family: var(--main-font);
  padding: 0;
  margin: 0;
}

a:not(.back) {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.back-to-top {
  position: fixed;
  display: none;
  z-index: 4;
  width: 55px;
  height: 55px;
  background-color: var(--accent-color);
  border-radius: 50%;
  text-align: center;
  bottom: 0;
  right: 0;
  margin: 0 10px 17px 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
  cursor: pointer;

  a {
    color: var(--default-color-light) !important;
  }

  &:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  color: var(--default-color);
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 15px;
  width: 300px;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  z-index: 997;
  border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  overflow: hidden;

  .header-toggle {
    color: var(--contrast-color);
    background-color: var(--accent-color);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    transition: background-color 0.3s;

    &:hover {
      color: var(--contrast-color);
      background-color: color-mix(in srgb, var(--accent-color) 90%, white 15%);
    }
  }

  .profile-img img {
    margin: 15px auto;
    display: block;
    width: 100px;
    border: 8px solid color-mix(in srgb, var(--default-color), transparent 85%);
    border-radius: 50%;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin-bottom: 15px;
    cursor: pointer;

    h1 {
      font-size: 24px;
      margin: 0;
      font-weight: 700;
      color: var(--heading-color);
    }
  }

  .social-links {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    a {
      font-size: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: color-mix(in srgb, var(--default-color), transparent 90%);
      color: var(--default-color);
      margin: 0 2px;
      border-radius: 50%;
      text-align: center;
      width: 40px;
      height: 40px;
      transition: 0.3s;
      text-align: center;

      &:hover {
        color: var(--contrast-color);
        background: var(--accent-color);
      }
    }
  }

  .resume {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    .resume-btn {
      color: var(--default-color);
      text-transform: uppercase;
      text-decoration: none;
      border: 2px solid var(--default-color);
      padding: 8px 15px;
      font-size: 12px;
      cursor: pointer;
      font-weight: bold;
      background: transparent;
      position: relative;
      overflow: hidden;
      margin-bottom: 2px;
      transition: color 1.5s;
    }

    .resume-btn:hover {
      color: var(--contrast-color)
    }

    .resume-btn::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      top: 0;
      left: -40px;
      transform: skewX(45deg);
      background-color: var(--accent-color);
      z-index: -1;
      transition: all 1s;
    }

    .resume-btn:hover::before {
      width: 160%;
    }
  }

  .navmenu {
    padding: 0;
    z-index: 9997;

    ul {
      list-style: none;
      padding: 0 0 20px 0;
      margin: 0;
    }

    a, a:focus {
      color: var(--nav-color);
      padding: 15px 10px;
      font-family: var(--main-font);
      font-size: 16px;
      font-weight: 400;
      display: flex;
      align-items: center;
      white-space: nowrap;
      transition: 0.3s;
      width: 100%;

      i {
        font-size: 20px;
        margin-right: 10px;
        
      }
    }

    a:hover,
    .active,
    .active:focus {
      color: var(--nav-hover-color);
      cursor: pointer;
    }

    a:hover i,
    .active i,
    .active:focus i {
      color: var(--accent-color);
    }
  }
}

@media (max-width: 1199px) {
  .header {
    left: -100%;
  }
  
  .contact-details{
    margin-bottom: 1rem;
  }

  .contact-details, .email-content {
    width: 100% !important;
  }

  .container {
    width: 95% !important;
    max-width: 100% !important;
  }
}

.header.header-show {
  left: 0;
}

section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  overflow: clip;
}

.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  bottom: 0;
}

.sub-title {
  font-style: italic;
  font-weight: bold;
}

.sub-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  margin-top: .3srem;
}

.section-title p {
  margin-bottom: 0;
}

/* Home Section */
.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  h2 {
    margin: 0;
    font-size: 54px;
    font-weight: 700;
  }

  p {
    margin: 5px 0 0 0;
    font-size: 26px;

    span {
      letter-spacing: 1px;
      border-bottom: 2px solid var(--accent-color);
    }
  }
}

.container {
  position: relative;
  z-index: 3;
}

.home:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 70%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

@media (max-width: 768px) {
  .home h2 {
    font-size: 32px;
  }

  .home p {
    font-size: 20px;
  }

  .projects {
    .accordion-item {
      width: 100% !important;
    }
  }

  .skill-content {
    width: 85%;
  }
}

@media (min-width: 1200px) {

  .header~main,
  .header~#footer {
    margin-left: 300px;
  }
}

/* About Section */
.about {
  .about-wrapper{
    display: flex;
    justify-content: center;

    img, .profile-card {
      border-radius: 20px;
      position: relative;
      background-color: white;
    }

    img {
      z-index: 2;
      margin: 5px -8px;
    }

    .profile-card {
      position: relative;
      width: fit-content;
      display: flex;
      position: relative;
      overflow: hidden;
    }

    .profile-card::before{
      content: "";
      position: absolute;
      width: 50%;
      height: 165%;
      background: linear-gradient(180deg, var(--accent-color), var(--accent-color));
      margin-top: -7rem;
      animation: rotate 3s linear infinite;
      margin-left: 5.5rem;
    }

    .profile-card::after {
      content: "";
      position: absolute;
      inset: 5px;
      background-color: white;
      border-radius: 15px;
    }
  }

  .content {
    h2 {
      font-weight: 700;
      font-size: 24px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
      }

      strong {
        margin-right: 10px;
      }

      i {
        font-size: 16px;
        margin-right: 5px;
        color: var(--accent-color);
        line-height: 0;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Skills Section */
.skills {  
  .skill-group {
    gap: 7px;
    display: flex;
    justify-content: center;

    .skill-title {
      color: var(--nav-color);
      font-size: 23px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .skill-content{
      border: var(--nav-color) solid 3px; 
      padding: 1.5rem 3.5rem;
      pointer-events: auto;
      position: relative;
      background-color: var(--background-color);
      transition: 
        transform 0.3s,
        border-color 1.5s,
        color 1.5s,
        background-color 1.5s;

      &:hover {
        transform: scale(1.1);
        border-color: var(--default-color-dark);
        z-index: 1;

        .skill-title {
          color: var(--default-color-dark);
          transition: color 1.5s;
        }

        .skill-group-item {
          border-color: var(--default-color-dark);
          transition: border-color 1.5s;

          li {
            background-color: var(--default-color-dark);
            transition: background-color 1.5s;
          }
        }

        .skill-group-item::before, .skill-group-item::after{
          color: var(--default-color-dark);
          transition: color 1.5s;
        }
      }

      .skill-group-item {
        margin-top: 3rem;
        border-left: 3px solid var(--nav-color);
        position: relative;

        ul {
          list-style: none;
          margin-left: 0;
          margin-top: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          li {
            font-size: .8rem;
            background-color: var(--nav-color);
            padding: .5rem 2rem;
            margin: 3px 5px;
            color: white;
          }
        }
      }

      .skill-group-item::before {
        content: var(--icon);
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: var(--nav-color);
        font-size: 20px;
        top: -30px;
        left: -13px;
        position: absolute;
      }

      .skill-group-item::after {
        content: var(--icon);
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: var(--nav-color);
        font-size: 20px;
        position: absolute;
        left: -13px;
        margin-top: -1rem;
      }
    }
  }
}

/* Project Section */
.projects {
  .accordion {
    display: flex;
    flex-direction: column;
    align-items: center;

    .accordion-item {
      border: none;
      overflow: hidden;
      width: 70%;

      .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        padding: 15px 20px;
        background-color: var(--accordion-heade-base);
        color: var(--default-color-light);
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;

        .icon {
          transition: transform 0.3s;
        }
      }

      .accordion-content {
        border-radius: 5px;
        color: var(--default-color-dark);
        font-size: 15px;
        max-height: 0;
        margin: 10px 0;
        padding: 0 20px;
        overflow: hidden;
        transition: max-height 0.5s ease, padding 0.5s ease;
        position: relative;
        z-index: 1;

        .proj-btn-content {
          display: flex;
          justify-content: end;
          gap: .5rem;

          .proj-btn {
            color: var(--default-color);
            text-transform: uppercase;
            text-decoration: none;
            border: 2px solid var(--default-color-dark);
            padding: 8px 15px;
            font-size: 12px;
            cursor: pointer;
            font-weight: bold;
            background: transparent;
            position: relative;
            overflow: hidden;
            margin-bottom: 2px;
            transition: color 1.5s;
          }

          .proj-btn:hover {
            color: var(--contrast-color)
          }

          .proj-btn::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 0%;
            top: 0;
            left: -40px;
            transform: skewX(45deg);
            background-color: var(--accent-color);
            z-index: -1;
            transition: all 1s;
          }

          .proj-btn:hover::before {
            width: 160%;
          }
        }
        
        ul {
          list-style: none;
          margin-left: 0;
          margin-top: 1rem;
          padding: 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: .3rem;

          li {
            padding: 5px 15px;
            border-radius: 20px;
            background-color: var(--default-color-dark);
            color: var(--default-color-light);
            font-size: 12px;
          }
        }
      }
    }

    .accordion-item.active {
      .accordion-header {
        background-color: var(--accordion-header-active);
      }
      .accordion-content {
        padding: 20px;
        max-height: 500px;
        border: var(--accordion-content) solid 2px;
      }

      .icon {
        transform: rotate(180deg);
      }
    }
  }
}

/* Experience Section */
.experience {
  background-color: var(--background-color);
}

.line-group {
  .line-title {
    color: var(--heading-color);
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .line-group-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--accent-color);
    position: relative;

    h4 {
      line-height: 18px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      color: color-mix(in srgb, var(--default-color), transparent 20%);
      margin-bottom: 10px;
    }

    h5 {
      font-size: 16px;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }

    ul {
      padding-left: 20px;

      li {
        list-style: none;
      }

      li::before {
        content: "- ";
      }
    }

    p {
      font-style: italic;
    }
  }

  .line-group-item:last-child {
    padding-bottom: 0;
  }

  .line-group-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: var(--background-color);
    border: 2px solid var(--accent-color);
  }
}

/* Contact Section */
.contact {
  .contact-details {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 40%;

    .info-wrap {
      .info-item {
        margin-bottom: 25px;
        
        i {
          font-size: 20px;
          color: var(--accent-color);
          background: color-mix(in srgb, var(--accent-color), transparent 92%);
          width: 44px;
          height: 44px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          transition: all 0.3s ease-in-out;
          margin-right: 15px;
        }
      }

      .info-item:hover i {
        background: var(--accent-color);
        color: var(--contrast-color);
      }

      h5 {
        font-size: 18px;
      }

      p {
        font-size: 13px;
      }
    }

    .embed-map-responsive {
      position: relative;
      text-align: right;
      width: 100%;
      height: 0;
      padding-bottom: 66.66666666666666%;
    }

    .embed-map-container {
      overflow: hidden;
      background: none !important;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .embed-map-frame {
      width: 100% !important;
      height: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .email-content {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    gap: 5px;
    width: 55%;

    .email-content-header {
      display: flex;
      justify-content: space-between;

      .display-message {
        opacity: 0;
        transition: opacity 0.5s ease;
      }

      .display-message.show {
        opacity: 1;
      }

      .error-message {
        color: #e62828;
      }

      .sent-message {
        color: #00b34a;
      }
    }

    label {
      margin-bottom: .5rem;
    }

    textarea {
      resize: none;
    }

    .send-button {
      display: flex;
      justify-content: end;
    }
  }
}

/* Footer */
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding: 40px 0;
  position: relative;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 4px;
  font-size: 13px;
  text-align: center;
}