@import './base/fonts';

$light-b-text-color: #313e4f;
$light-head-bg: #fbf6f2;
$light-card-bg: #eeeeee;
$light-shade-color: #4fc3f7;
$btn-default-bg: #f1f1f1;
$icon-default: #fff;
$icon-hover: #084866;
$main-font: Mulish;
$dark-mode: #1e242c;
$light-mode: #fcf7f5;

* {
  font-family: $main-font;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
}

body::-webkit-scrollbar {
  display: none; /*hide scroll bar for chrome*/
}

body::scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /*hide scroll bar for Explore and Edge*/
  scrollbar-width: none;
  font-family: "Open Sans", sans-serif;
  background-color: #fcf7f5;
  scroll-behavior: smooth;
  height: auto;
  position: relative;
  min-height: 100vh;

  &.dark-mode {
    background-color: $dark-mode;
  }

  &.light-mode {
    background-color: $light-mode;
  }
}

a.links {
  text-decoration: none;
  color: $light-shade-color;
}

h1 span {
  font-weight: 200;
  font-size: 36px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans";
}

button {
  cursor: pointer;
}

hr {
  border-top: 1px solid rgba(158, 158, 158, 0.4);
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 25px 0;
  line-height: 1.1;
}

@media all and (min-width: 768px) {
  //(min-device-width: 769px)
  .wrapper {
    width: 100%;
    height: auto;
    transition: all 1s ease;
  }

  .banner {
    background-image: url(../../images/banner.svg);
    width: 100%;
    height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
  }

  .main-content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;

    #menu {
      overflow: hidden;
    }

    .menu {
      background-color: transparent;
      position: absolute;
      text-align: right;
      width: 100%;
      z-index: 3;
      transition: ease-in-out 0.5s;
    }

    .menu a {
      font-weight: bold;
      font-size: 17px;
      text-transform: uppercase;
      text-decoration: none;
      color: #f2f2f2;
      padding: 20px 0px;
      margin: 0px 20px;
      display: inline-block;
      position: relative;
      opacity: 0.75;
    }

    .sticky {
      background-color: var(--menu-color, $light-card-bg);
      position: fixed;
      top: 0;
      width: 100%;
      overflow: hidden;
      text-align: right;
      z-index: 3;
      transition: ease-in-out 0.5s;
    }

    .sticky a {
      font-weight: bold;
      font-size: 17px;
      text-transform: uppercase;
      text-decoration: none;
      color: var(--color-value, $light-b-text-color);
      padding: 20px 0px;
      margin: 0px 20px;
      display: inline-block;
      position: relative;
      opacity: 0.75;
    }

    .menu a:hover,
    .sticky a:hover {
      opacity: 1;
      cursor: pointer;
    }

    .menu a::before,
    .sticky a::before {
      transition: 300ms;
      height: 5px;
      content: "";
      position: absolute;
      background-color: $light-shade-color;
    }

    .nav-link::before {
      width: 0%;
      bottom: 10px;
    }

    .nav-link:hover::before {
      width: 100%;
    }

    .nav-link.active {
      color: $light-shade-color !important;
      opacity: 1;
    }
  }

  .logo {
    color: #919294;
    font-size: 30px;
    font-weight: 400;
    font-family: inherit;
    line-height: 50px;
    display: block;
    overflow: hidden;
    float: left;
    padding-left: 10px;
    cursor: pointer;
    position: fixed;
    top: 0;
    z-index: 4;
  }

  .mobile-menu,
  .close-sidebar {
    visibility: collapse;
  }
}

@media all and (max-width: 768px) {
  //and (max-device-width: 768px)
  h1 span {
    font-weight: 200;
    font-size: 25px;
  }

  .wrapper {
    transition: all 1s ease;
  }

  .banner {
    background-image: url(../../images/banner.svg);
    width: 100%;
    height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }

  .mobile-menu {
    margin-top: 4px;
    font-size: 6vw;
    color: $light-shade-color;
    position: absolute;
    visibility: visible;
    padding: 20px;
  }

  .mobile-menu:hover,
  .close-sidebar:hover {
    color: rgb(156, 156, 156);
    cursor: pointer;
  }

  .close-sidebar {
    font-size: 30px;
    position: absolute;
    right: 10;
    z-index: inherit;
    color: rgb(202, 202, 202);
    top: 10px;
    visibility: visible;
  }

  .wrapper {
    .main-content {
      width: inherit;
      height: 100%;
      margin: 0;
      padding: 0;
      position: fixed;
      top: 0;
      z-index: 3;
      visibility: visible;

      .logo {
        color: #919294;
        font-size: 25px;
        font-weight: 400;
        font-family: inherit;
        line-height: 50px;
        padding-left: 10px;
        cursor: pointer;
        position: absolute;
        top: 0;
        overflow-x: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      .menu {
        width: 0;
        background-color: $light-b-text-color;
        height: 100%;
        position: absolute;
        padding-top: 75px;
        left: 0;
        overflow-x: hidden;
        transition: width 0.5s;

        &.open {
          width: 250px !important;
        }

        i {
          padding-right: 1rem;
        }
      }

      .menu a.nav-link {
        display: flex;
        flex-direction: row;
        padding: 10px;
        color: white;
        font-size: 20px;
        padding-left: 15px;
      }

      .menu a.nav-link:hover {
        background-color: $light-shade-color;
        cursor: pointer;
      }

      .menu .nav-link.active {
        background-color: #149ad8 !important;
        opacity: 1;
      }
    }
  }

  .body-content {
    .info-content {
      margin-top: 8em !important;
      #about .about .about-content {
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;

        .profile {
          height: 100%;
          display: block;
          margin: auto;

          #profile {
            border-radius: 50%;
          }
        }

        .bio {
          width: inherit;

          .profile-title {
            font-size: 25px;
          }

          .profile-details {
            margin: 0;
            padding: 0;
            margin-bottom: 13px;

            .title {
              display: block;
              float: left;
              color: var(--color-value, $light-b-text-color);
              font-size: 12px;
              font-weight: 800;
              line-height: 20px;
              text-transform: uppercase;
            }

            .cont {
              display: block;
              font-size: 15px;
              font-weight: 400;
              line-height: 20px;
              color: #9da0a7;
              margin: 0;
            }

            .clearfix {
              *zoom: 1;
            }

            .prof-line {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
            }
          }
        }
      }

      .skill {
        display: flex;
        .skill-content {
          width: 100%;
        }
      }

      #experience .experience {
        .exp-box {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          text-align: center;

          .exp-box-item {
            width: inherit;
          }
        }
      }

      #projects .projects {
        .proj-box {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          text-align: center;

          .proj-box-item {
            width: inherit;
          }
        }
      }

      #contact .contact .contact-box {
        display: flex;
        flex-direction: column;

        .contact-info {
          width: inherit;

          .contact-details {
            margin: 0;
            padding: 0;

            .title {
              display: block;
              width: 120px;
              float: left;
              color: var(--color-value, $light-b-text-color);
              font-size: 12px;
              font-weight: 750;
              line-height: 20px;
              text-transform: uppercase;
            }

            .cont {
              display: block;
              margin: 0;
              font-size: 15px;
              font-weight: 500;
              line-height: 20px;
              color: var(--color-value, $light-b-text-color);
              word-wrap: anywhere;
            }

            .cont-line {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
            }

            .ask-content {
              display: flex;
              flex-direction: column;
              width: 100%;

              .ask-title {
                float: left;
                color: var(--color-value, $light-b-text-color);
                font-size: 12px;
                font-weight: 750;
                line-height: 20px;
                text-transform: uppercase;
              }

              .ask-cont {
                display: block;
                margin: 0;
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
                color: var(--color-value, $light-b-text-color);
                word-wrap: anywhere;
              }
            }
          }
        }

        .contact-map {
          width: inherit;
          height: 250px;
        }
      }
    }
  }
}

.xl {
  font-size: 34px;
}

.lg {
  font-size: 26px;
}

.m {
  font-size: 20px;
}

.sm {
  font-size: 15px;
}

.xsm {
  font-size: 12px;
}

.text-success {
  color: $light-shade-color;
}

.text-default {
  color: var(--color-value, $light-b-text-color);
}

.bg-success {
  background-color: $light-shade-color;
}

.body-content {
  z-index: 1;
  position: relative;
  padding-top: 12%;
  margin-bottom: 40px;
  border-width: 5px;
  margin: 0 10%;

  .back-to-top {
    position: fixed;
    display: none;
    z-index: 4;
    width: 55px;
    height: 55px;
    background-color: rgb(14, 122, 211);
    border-radius: 50%;
    color: white;
    text-align: center;
    bottom: 0;
    right: 0;
    margin: 0 31px 17px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
    cursor: pointer;
  }

  .change-mode {
    position: fixed;
    display: none;
    z-index: 4;
    width: 55px;
    height: 55px;
    background-color: rgb(210, 208, 208);
    border-radius: 50%;
    color: white;
    text-align: center;
    bottom: 0;
    left: 1rem;
    margin: 0 31px 17px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.34);
    cursor: pointer;

    &.dark-active {
      background-color: rgb(10, 58, 98);
    }

    &.light-active {
      background-color: rgb(14, 122, 211);
    }
  }

  .profile-title {
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 5px;
    font-weight: 700;
  }

  .text-title {
    color: var(--color-value, $light-b-text-color);
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    word-wrap: anywhere;
  }

  .text-subtitle {
    color: var(--color-value, $light-b-text-color);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    text-align: left;
    word-wrap: anywhere;
  }

  .text-desc {
    color: var(--color-value, $light-b-text-color);
    font-weight: 400;
    text-align: center;
  }

  .job-address {
    margin: 0;
    color: var(--color-value, $light-b-text-color);
  }

  .job-desc {
    color: var(--color-value, $light-b-text-color);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  .section-about .profile-position {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
  }

  .info-content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  #about {
    margin-top: 30px;
    .about {
      background-color: var(--card-color, $light-card-bg);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

      .about-content {
        display: flex;
        background-color: var(--head-bg, $light-head-bg);
        padding-bottom: 2em;

        .profile {
          width: 50%;
          // height: 372px;
          height: min-content;
          padding: 57px 50px 0px 50px;

          #profile {
            border: 0;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
            border-radius: 50%;
          }
        }

        .bio {
          width: 100%;
          padding: 57px 50px 0px 50px;
          color: var(--color-value, $light-b-text-color);

          .profile-details {
            margin: 0;
            padding: 0;
            margin-bottom: 13px;

            .title {
              display: block;
              float: left;
              color: var(--color-value, $light-b-text-color);
              width: 120px;
              font-size: 12px;
              font-weight: 800;
              line-height: 20px;
              text-transform: uppercase;
            }

            .cont {
              display: block;
              margin-left: 125px;
              font-size: 15px;
              font-weight: 400;
              line-height: 20px;
              color: #9da0a7;
              word-wrap: anywhere;
            }

            .clearfix {
              *zoom: 1;
            }

            .prof-line {
              margin-bottom: 10px;
            }
          }
        }
      }

      .social-media {
        width: 100%;
        height: 45px;
        background-color: var(--shade-color, $light-shade-color);
        padding: 15px 0;

        .sm-icons {
          margin: 0;
          padding: 0;
          list-style: none;
          text-align: center;
          // color: white;

          li {
            display: inline-block;
            margin: 5px 15px;
          }

          li a {
            color: var(--icon-default, $icon-default);
            font-size: 35px;
            line-height: 45px;
            display: block;
            cursor: pointer;
          }

          li a:hover {
            color: var(--icon-hover, $icon-hover);
          }
        }

        ul {
          margin: 0 0 25px 20px;
        }
      }
    }

    .resume {
      width: 100%;
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      #btnResume {
        font-size: 1.2rem;
      }
    }
  }

  .skill:last-child {
    margin-bottom: -0.75rem;
  }
  .skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    .skill-icon {
      font-size: 3.5rem;
      color: $light-shade-color;
    }
    .skill-content {
      width: calc(calc(100% / 2) - 5px);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
      background-color: var(--card-color, $light-card-bg);
      height: auto;
      margin: 10px 0;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.1);
      }
      .skill-head {
        height: inherit;
        background-color: var(--shade-color, $light-shade-color);
        height: 6px;
      }
      .skill-details {
        padding-top: 1rem;
        margin: 1rem;

        ul {
          list-style: none;
          margin-left: 0;
          margin-top: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          li {
            font-size: 1rem;
            border: solid 1px #149ad8;
            padding: .5rem 2rem;
            margin: 3px 5px;
          }
        }
      }
    }
  }

  #experience {
    .experience {
      .exp-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
      }

      .exp-box-item {
        width: 49%;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        background-color: var(--card-color, $light-card-bg);
        height: auto;
        margin: 10px 0;
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }

      .exp-head {
        background-color: var(--shade-color, $light-shade-color);
        height: 6px;
      }

      .exp-details {
        padding: 10px 15px;
      }
    }
  }

  #projects {
    .projects {
      .proj-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
      }

      .proj-box-item {
        width: 49%;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        background-color: var(--card-color, $light-card-bg);
        height: auto;
        margin: 10px 0;
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }

      .proj-head {
        background-color: var(--shade-color, $light-shade-color);
        height: 6px;
      }

      .proj-details {
        padding: 10px 15px;

        ul {
          list-style: none;
          color: var(--color-value, $light-b-text-color);
          display: flex;
          flex-wrap: wrap;
          li {
            font-size: 1rem;
            border: solid 1px #149ad8;
            padding: 2px 5px;
            margin: 3px 5px;
          }
        }
      }
    }
  }

  #contact {
    .contact {
      .contact-box {
        background-color: var(--card-color, $light-card-bg);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        display: flex;

        .contact-info {
          padding: 40px;
          width: 55%;

          .contact-details {
            margin: 0;
            padding: 0;

            .title {
              display: block;
              width: 120px;
              float: left;
              color: var(--color-value, $light-b-text-color);
              font-size: 12px;
              font-weight: 600;
              line-height: 20px;
              text-transform: uppercase;
            }

            .cont {
              display: block;
              margin-left: 125px;
              font-size: 15px;
              font-weight: 500;
              line-height: 20px;
              color: var(--color-value, $light-b-text-color);
            }

            .cont-line {
              margin-bottom: 10px;
            }

            .ask-content {
              display: flex;
              flex-direction: column;
              width: 100%;

              .ask-title {
                float: left;
                color: var(--color-value, $light-b-text-color);
                font-size: 12px;
                font-weight: 750;
                line-height: 20px;
                text-transform: uppercase;
              }

              .ask-cont {
                display: block;
                margin: 0;
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
                color: var(--color-value, $light-b-text-color);
                word-wrap: anywhere;
              }
            }
          }
        }

        .contact-map {
          width: 45%;
          .map {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

.grid-content {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  font-size: 15px;
  padding: 20px;
  color: var(--color-value, $light-b-text-color);
  line-height: 1.2;
  font-weight: 500;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
  display: block;
  height: 10px;
  background-color: $light-shade-color;
  border-radius: 3px;

  transition: width 500ms ease-in-out;
}

.footer {
  clear: both;
  position: relative;
  height: inherit;
  // background-color: $light-shade-color;

  .footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    .cont-box {
      width: 50px;
      height: 50px;
      background-color: var(--color-value, $light-b-text-color);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      border-radius: 100%;
      cursor: pointer;
      text-decoration: none;
    }

    a {
      color: var(--shade-color, $light-shade-color);//$light-shade-color;
      font-size: 25px;
      line-height: 45px;
      display: block;
      cursor: pointer;
    }

    a:hover {
      color: var(--a-hover, whitesmoke);
    }
  }

  .footer-mess {
    background-color: $light-b-text-color;
    height: 50px;
    padding: 10px;
  }

  .footer-text {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    padding: 2px;
  }

  .light {
    color: whitesmoke;
  }

  .dark {
    color: var(--color-value, $light-b-text-color);
  }
}

.btn-default {
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: var(--btn-default, $btn-default-bg);
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  margin-top: 14px;
  font-size: 16px;
  color: var(--color-value, $light-b-text-color);
  text-align: center;
  font-weight: 700;
}

.btn-default:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24),
    0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11),
    0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11);
  transition: ease-in-out 0.5s;
}

.text-style {
  color: var(--color-value, $light-b-text-color);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  margin-top: 30px;
}

.btn {
  color: var(--color-value, $light-b-text-color);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--color-value, $light-b-text-color);
  padding: 8px 15px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: var(--shade-color, $light-shade-color);
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}

